/bin/
/eclipse/
/build/
/__wfiles/
/run/
/.settings/
/.gradle/

/build.bat

# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
